@import '../../style/colors';
.admin-side-bar {
  ul {
    padding-left: 20px;
    padding-top: 10px;
    li {
      list-style: none;
      &:hover{
        color: $WDM_ORANGE;
        cursor: pointer;
      }
      &.active {
        color: $WDM_ORANGE;
        >a{
          color: $WDM_ORANGE;
        }
      }
      > a {
        &:hover{
          color: $WDM_ORANGE;
        }
        display: block;
        height: 100%;
        padding: 10px 0;
        font-family: 'FuturaMedium', sans-serif;
        color: $WDM_WHITE;
        text-decoration: none;
        >span{
          padding-left: 10px;
        }
      }
    }
  }
}
