.footer {
  text-align: right;
  width: 55%;
  margin: 0 auto;
  font-family: 'FuturaLight', sans-serif;
  font-size: 14px;
  color: #797676;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 14px;
  margin-bottom: 14px;
}
