.video-list-container {
  font-family: 'FuturaMedium', sans-serif;
  height: 100%;
  padding: 20px;
  .h3-all-video {
    font-size: 24px;
    color: #fff;
  }
  .video-item {
    //margin-right: 50px;
    //margin-bottom: 20px;
    //width: 220px;
    min-height: 200px;
    .img {
      //width: 100%;
      //height: auto;
    }
    .video-title {
      font-size: 13px;
      color: #fff;
    }
    .video-desc {
      font-size: 12px;
      color: #fff;
    }
  }
}
