@font-face {
  font-family: FuturaMedium;
  src: url('fonts/futura medium bt.ttf');
}

@font-face {
  font-family: FuturaRegular;
  src: url('fonts/Futura_Regular.ttf');
}

@font-face {
  font-family: FuturaLight;
  src: url('fonts/futura_light.ttf');
}